:root {
    --main-color: #0fbfaa;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #fff6f6;
    --transition-seconde: 0.3s;
}



* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.grid_content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px 20px;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Start Components */
.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.special-heading+p {
    text-align: center;
    color: #8b8989;
    font-size: 20px;
    margin-top: -35px;
}

@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading+p {
        margin-top: -20px;
    }
}

/* End Components */
/* Start Header */
.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-content: center;

}

.header .logo {
    width: 60px;
}

.header .links {
    position: relative;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links .icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 30px;

}

.header .links .icon span {
    background-color: #222;
    margin-bottom: 5px;
    height: 2px;
    width: 100%;
}

/* .header .links .icon span:first-child {
    width: 100%;
} */

.header .links .icon span:nth-child(2) {
    transition: var(--transition-seconde);
    width: 60%;
}

/* 
.header .links .icon span:last-child {
    width: 100%;
} */

.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 20px);
    display: none;
    z-index: 1;
}

.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.header .links:hover ul {
    display: block;
}

.header .links ul li a {
    padding: 15px;
    display: block;
    text-decoration: none;
    color: #222;
    transition: var(--transition-seconde);
}

.header .links ul li a:hover {
    padding-left: 25px;
}

.header .links ul li:not(:last-child) a {
    border-bottom: solid 1px #ddd;
}

/* End Header */

/*  Start Landing Section  */


.landing {
    background-image: url("../images/landing.jpg");
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}

.landing .intro-text h1 {
    margin: 0;
    color: var(--main-color);
    font-weight: bold;
}

.landing .intro-text p {
    font-size: 20px;
    padding-top: 5px;
    color: white;
}

/* End Landing Section  */
/* Start Featurse */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.features .container .feat {
    padding: 20px;
    text-align: center;
}

.features .container .feat i {
    color: var(--main-color);
}

.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}

.features .container .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}

/* End Featurse */

/* Start Services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services .services-content {
    margin-top: 100px;
}

.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}

.services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}

.services .services-content .srv .text {
    flex: 1;
}

.services .services-content .srv .text h3 {
    margin: 0 0 20px;
}

.services .services-content .srv .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}

.services .services-content .image {
    text-align: center;
    position: relative;
}

.services .services-content .image img {

    width: 260px;
}

.services .services-content .image::before {
    content: "";
    background-color: var(--secondary-color);
    position: absolute;
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    right: 55px;
    z-index: -1;
}

@media (max-width: 1199px) {
    .image-column {
        display: none;
    }
}

/* End Services */

/* Start Portfolio */
.portfolio {
    margin-top: 100px;
    background-color: var(--section-background);
    padding: 20px;
}

.portfolio .portfolio-content {
    margin-top: 100px;
}

.portfolio .portfolio-content img {
    width: 100%;
    height: 50%;
}

.portfolio .portfolio-content .info {
    padding: 10px;

}

.portfolio .portfolio-content .info h3 {
    margin: 0;
}

.portfolio .portfolio-content .info p {
    color: #777;
    line-height: 1.7;
    margin-bottom: 0;
}

/* End Portfolio */


/* Start About  */
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}

.about .about-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: space-between;


}

@media (max-width: 991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }

}

.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}

@media (max-width: 991px) {
    .about .about-content .image {
        margin: 0 auto;
    }
}

.about .about-content .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}

.about .about-content .image::after {
    content: "";
    position: absolute;
    height: 300px;
    width: 120px;
    right: -150px;
    top: -30px;
    border-left: solid var(--main-color) 80px;
    border-bottom: solid var(--main-color) 80px;
    z-index: -1;
}

@media (max-width: 991px) {

    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
}

.about .about-content .image img {
    max-width: 100%;
}

.about .about-content .text {
    flex-basis: calc(100% - 500px);
}

.about .about-content .text p:first-child {
    font-weight: bold;
    margin-top: 0;
    line-height: 2;
    margin: 40px 0;
}

.about .about-content .text hr {
    display: inline-block;
    width: 50%;
    border-color: var(--main-color);
}

.about .about-content .text p:last-child {
    line-height: 1.5;
    color: #777;
}

/* End About  */

/* Start Contact */
.contact .info {
    background-color: var(--section-background);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.contact .info .text {
    margin-top: 100px;
    padding-left: 100px;


}

.contact .info .text .label {
    font-size: 40px;
    color: var(--secondary-color);
    letter-spacing: -3px;
    font-weight: bold;
}

.contact .info .text a {
    text-decoration: none;
    font-size: 30px;
    color: var(--main-color);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    text-align: center;
}

.contact .info .social {
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-top: 40px;
}

.contact .info .social h3 {
    color: #777;
}

.contact .info .social i {
    padding-left: 20px;
    font-size: 20px;
    color: var(--secondary-color);
}

@media (max-width: 767px) {

    .contact .info .text .label,
    .contact .info .text a {
        font-size: 25px;
    }
}

/* End Contact */
/* Start Footer */
.footer {
    padding: 30px 0;
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    /* font-size: 20px; */
}

.footer span {
    color: var(--main-color);
}

/* End Footer */